.gallery {
    background: linear-gradient(270deg, $high-blue, $low-blue);

    &__container {
        padding: 1%;
        width: 100%;
        height: 100%;
        
        &__list {
            width: 100%;
            height: 100%;
            border: 3px dashed red;
            display: flex;
            flex-flow: wrap row;

            &__item {
                border: 2px solid black;
                width: 10%;
                height: 20%;

                &__photo {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}