.gallery {
    height: 10%;
    background: $black;

    &__hover {
        border: 1px solid red;
    }

    &-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        background: rgba(0, 0, 0, .6);
        transition: .8s;
        color: $low-orange;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 5px solid transparent;
        border-bottom: 5px solid $low-orange;
        }

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__zone {
        width: 80%;
        height: 80%;
        display: flex;
        flex-flow: wrap row;
        justify-content: space-around;
        align-items: center;


        &__item {
            width: 30%;
            height: 42%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 42px;
            text-transform: uppercase;
            position: relative;
            -webkit-box-shadow: 30px 24px 92px -12px rgba(0,0,0,0.39);
            -moz-box-shadow: 30px 24px 92px -12px rgba(0,0,0,0.39);
            box-shadow: 30px 24px 92px -12px rgba(0,0,0,0.39);
            transition: .3s;
            overflow: hidden;

            &:hover .gallery-overlay {
                top: -700px;
            }

            &:hover {
                border-top: 5px solid $low-orange;
                border-bottom: 5px solid transparent;
            }

            &__photo {
                visibility: hidden;
            }

            &:hover {
                -webkit-box-shadow: 15px 9px 40px -6px rgba(0,0,0,0.39);
                -moz-box-shadow: 15px 9px 40px -6px rgba(0,0,0,0.39);
                box-shadow: 15px 9px 40px -6px rgba(0,0,0,0.39);
                transform: translateY(15px);
                cursor: pointer;
            }

            &--1 {
                background-image: url('../../img/photos/2016_03_16_172524.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-filter: grayscale(100%);
            }

            &--2 {
                background-image: url('../../img/photos/eqfcpx4x_aa.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            &--3 {
                background-image: url('../../img/photos/image_11c94e000bd6546b5e25a43a4db08ab8f5b5a6f65d2b82c56bd54cb7d59f4bc2_v.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            &--4 {
                background-image: url('../../img/photos/21(1).jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            &--5 {
                background-image: url('../../img/photos/IMG_3916(1).jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            &--6 {
                background-image: url('../../img/photos/image_fcda7466a73f5cef35831ddc9752723dd7dbe4b8c61cadc7cc1eaab4ed932bf0_v.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    }
}

.section-name {
    color: white;
    font-size: 200px;
    position: absolute;
    top: 38%;
    left: 8%;
    text-transform: uppercase;
    opacity: .8;
    letter-spacing: 150px;
}