.hero {
    background-image: url('../../img/bg/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 9px 60px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 60px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 60px -1px rgba(0,0,0,0.75);
    z-index: 2;

    &__container {
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: center;
    }

    &__content {
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__txt {
            height: 60%;
            // width: 72%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // border: 15px solid white;
            // padding: 1%;

            &__title {
                text-transform: uppercase;
                color: $black;
                font-size: 82px;
                height: 50%;

                .marker {
                    background: white;
                    padding-left: 2%;
                    padding-right: 2%;
                }
            }

            &__adv {
                height: 40%;
                width: 72%;
                display: flex;


                &__list {
                    font-size: 28px;
                    font-family: pobedabold;
                    letter-spacing: 2px;
                    color: white;
                    height: 100%;
                    width: 58%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    text-transform: uppercase;
                    border: 5px solid white;
                    padding: 2%;
                }
            }

            &__usefull-links__list {
                min-width: 33%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background: white;
                padding: 2%;

                &__link {
                    color: $black;
                    font-family: cervo;
                    opacity: .9;
                    text-transform: uppercase;
                    font-size: 22px;
                    transition: .3s;

                    &:hover {
                        transform: translateX(5px);
                        text-decoration: none;
                        color: $high-orange;
                    }
                }
            }
        }

        &__buttons {
            height: 15%;
            width: 100%;

            &__list {
                display: flex;
                width: 100%;
                height: 100%;
                display: flex;

                &__link {
                    width: 30%;
                    height: 100%;
                    background: white;
                    color: $black;
                    margin-right: 1%;
                    margin-top: 1%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 28px;
                    text-transform: uppercase;
                    transition: .3s;
                    -webkit-box-shadow: 0px 0px 42px 3px rgba(0,0,0,0.77);
                    -moz-box-shadow: 0px 0px 42px 3px rgba(0,0,0,0.77);
                    box-shadow: 0px 0px 42px 3px rgba(0,0,0,0.77);

                    &:hover {
                        transform: translateY(5px);
                        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                        color: white;
                    }

                    &--one {
                        width: 20%;
                        border: 3px solid $low-orange;

                        &:hover {
                            border: 3px solid transparent;
                            background-image: linear-gradient(45deg, $low-orange, $high-orange, $high-blue, $low-blue);
                            background-size: 800% 800%;
                            
                            -webkit-animation: AnimationName 5s ease infinite;
                            -moz-animation: AnimationName 5s ease infinite;
                            -o-animation: AnimationName 5s ease infinite;
                            animation: AnimationName 5s ease infinite;
                            
                            @-webkit-keyframes AnimationName {
                                0%{background-position:100% 50%}
                                50%{background-position:0% 50%}
                                100%{background-position:100% 50%}
                            }
                            @-moz-keyframes AnimationName {
                                0%{background-position:100% 50%}
                                50%{background-position:0% 50%}
                                100%{background-position:100% 50%}
                            }
                            @-o-keyframes AnimationName {
                                0%{background-position:100% 50%}
                                50%{background-position:0% 50%}
                                100%{background-position:100% 50%}
                            }
                            @keyframes AnimationName { 
                                0%{background-position:100% 50%}
                                50%{background-position:0% 50%}
                                100%{background-position:100% 50%}
                            }
                        }
                    }

                    &--two {
                        width: 20%;
                        border: 3px solid $low-blue;

                        &:hover {
                            border: 3px solid transparent;
                            background-image: linear-gradient(270deg, $low-blue, $high-blue, $low-orange, $high-orange);
                            background-size: 800% 800%;
                            
                            -webkit-animation: AnimationName 5s ease infinite;
                            -moz-animation: AnimationName 5s ease infinite;
                            -o-animation: AnimationName 5s ease infinite;
                            animation: AnimationName 5s ease infinite;
                            
                            @-webkit-keyframes AnimationName {
                                0%{background-position:100% 50%}
                                50%{background-position:0% 50%}
                                100%{background-position:100% 50%}
                            }
                            @-moz-keyframes AnimationName {
                                0%{background-position:100% 50%}
                                50%{background-position:0% 50%}
                                100%{background-position:100% 50%}
                            }
                            @-o-keyframes AnimationName {
                                0%{background-position:100% 50%}
                                50%{background-position:0% 50%}
                                100%{background-position:100% 50%}
                            }
                            @keyframes AnimationName { 
                                0%{background-position:100% 50%}
                                50%{background-position:0% 50%}
                                100%{background-position:100% 50%}
                            }
                            
                        }
                    }

                    &--three {
                        border: 3px solid $high-orange;

                        &:hover {
                            border: 3px solid transparent;
                            background-image: linear-gradient(200deg, $low-orange, $high-orange, $low-blue, $high-blue);
                            background-size: 800% 800%;
                            
                            -webkit-animation: AnimationName 5s ease infinite;
                            -moz-animation: AnimationName 5s ease infinite;
                            -o-animation: AnimationName 5s ease infinite;
                            animation: AnimationName 5s ease infinite;
                            
                            @-webkit-keyframes AnimationName {
                                0%{background-position:100% 50%}
                                50%{background-position:0% 50%}
                                100%{background-position:100% 50%}
                            }
                            @-moz-keyframes AnimationName {
                                0%{background-position:100% 50%}
                                50%{background-position:0% 50%}
                                100%{background-position:100% 50%}
                            }
                            @-o-keyframes AnimationName {
                                0%{background-position:100% 50%}
                                50%{background-position:0% 50%}
                                100%{background-position:100% 50%}
                            }
                            @keyframes AnimationName { 
                                0%{background-position:100% 50%}
                                50%{background-position:0% 50%}
                                100%{background-position:100% 50%}
                            }
                        }
                    }
                }
            }
        }
    }
}