.shedule {
    background: url('../../img/bg/shedule-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
    }

    &__content {
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

table.blueTable {
    border: 1px solid $black;
    background-color: white;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid $black;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }
  table.blueTable thead {
    background: $low-orange;
    border-bottom: 1px solid $black;
  }
  table.blueTable thead th {
    background: $low-orange;
    padding: 1%;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 1px solid $black;
    text-transform: uppercase;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: $black;
    background: $low-orange;
    border-top: 1px solid #333333;
  }
  table.blueTable tfoot td {
    font-size: 24px;
    padding: 1%;
    font-weight: normal;
    font-style: italic;
  }

.table__time {
    background: $low-orange;
}