.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(270deg, $high-orange, $low-orange);
    -webkit-box-shadow: 0px 9px 60px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 60px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 60px -1px rgba(0,0,0,0.75);
    z-index: 5;
    // background: linear-gradient(270deg, $high-orange, $low-orange, $high-blue, $low-blue);
    // background-size: 800% 800%;
    
    // -webkit-animation: AnimationName 600s ease infinite;
    // -moz-animation: AnimationName 600s ease infinite;
    // -o-animation: AnimationName 600s ease infinite;
    // animation: AnimationName 600s ease infinite;
    
    // @-webkit-keyframes AnimationName {
    //     0%{background-position:0% 50%}
    //     50%{background-position:100% 50%}
    //     100%{background-position:0% 50%}
    // }
    // @-moz-keyframes AnimationName {
    //     0%{background-position:0% 50%}
    //     50%{background-position:100% 50%}
    //     100%{background-position:0% 50%}
    // }
    // @-o-keyframes AnimationName {
    //     0%{background-position:0% 50%}
    //     50%{background-position:100% 50%}
    //     100%{background-position:0% 50%}
    // }
    // @keyframes AnimationName { 
    //     0%{background-position:0% 50%}
    //     50%{background-position:100% 50%}
    //     100%{background-position:0% 50%}
    // }

    &__container {
        width: 95%;
        height: 92%;
        display: flex;
        flex-direction: row-reverse;
        position: relative;
    }

    &__slides {
        border-bottom: 5px solid $high-orange;
        border-left: 5px solid $high-orange;
        background: white;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
        height: 100%;
        width: 80%;
        -webkit-box-shadow: 85px 82px 149px -12px rgba(0,0,0,0.45);
        -moz-box-shadow: 85px 82px 149px -12px rgba(0,0,0,0.45);
        box-shadow: 85px 82px 149px -12px rgba(0,0,0,0.45);

        &__limiter {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row-reverse;
            position: relative;
        }
    }

    &__ctrl {
        position: absolute;
        left: 5%;
        top: 7%;
        z-index: 10;
        -webkit-box-shadow: 30px 24px 92px -12px rgba(0,0,0,0.39);
        -moz-box-shadow: 30px 24px 92px -12px rgba(0,0,0,0.39);
        box-shadow: 30px 24px 92px -12px rgba(0,0,0,0.39);
        background: $black;
        width: 35%;
        height: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom: 5px solid $low-orange;
        border-right: 5px solid $low-orange;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 3%;
        padding-right: 3%;

        &__list {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &__item {    
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                &__title {
                    text-transform: uppercase;
                    color: white;
                    font-size: 50px;
                    line-height: .6;
                    font-family: pobedabold;
                }

                &__desc {
                    font-size: 22px;
                    color: white;
                }

                &__btn {
                    background: white;
                    width: 35%;
                    height: 25%;
                    color: $black;
                    text-transform: uppercase;
                    font-size: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    -webkit-box-shadow: 10px 7px 42px 3px rgba(0,0,0,0.77);
                    -moz-box-shadow: 10px 7px 42px 3px rgba(0,0,0,0.77);
                    box-shadow: 10px 7px 42px 3px rgba(0,0,0,0.77);
                    transition: .3s;

                    &:hover {
                        transform: translate(7px, 7px);
                        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                        color: white;
                        background-image: linear-gradient(200deg, $high-orange, $low-orange, $high-blue, $low-blue);
                        background-size: 800% 800%;
                        
                        -webkit-animation: AnimationName 5s ease infinite;
                        -moz-animation: AnimationName 5s ease infinite;
                        -o-animation: AnimationName 5s ease infinite;
                        animation: AnimationName 5s ease infinite;
                        
                        @-webkit-keyframes AnimationName {
                            0%{background-position:100% 50%}
                            50%{background-position:0% 50%}
                            100%{background-position:100% 50%}
                        }
                        @-moz-keyframes AnimationName {
                            0%{background-position:100% 50%}
                            50%{background-position:0% 50%}
                            100%{background-position:100% 50%}
                        }
                        @-o-keyframes AnimationName {
                            0%{background-position:100% 50%}
                            50%{background-position:0% 50%}
                            100%{background-position:100% 50%}
                        }
                        @keyframes AnimationName { 
                            0%{background-position:100% 50%}
                            50%{background-position:0% 50%}
                            100%{background-position:100% 50%}
                        }
                    }
                }
            }
        }
    }
}
