.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	// overflow: hidden;
	min-height: 650px;
}

.section {
	height: 100%;
	width: 1200px;
	background: #07213f;
	min-height: 650px;
	overflow: hidden;
	position: relative;
	top: 0%;
    left: 0;
	right: 0;
}