@font-face {
  font-family: 'cervomedium';
  src: url("../../fonts/cervo-medium-webfont.woff2") format("woff2"), url("../../fonts/cervo-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cervo';
  src: url("../../fonts/cervo-regular-webfont.woff2") format("woff2"), url("../../fonts/cervo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cervoregular_italic';
  src: url("../../fonts/cervo-regularitalic-webfont.woff2") format("woff2"), url("../../fonts/cervo-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'pobedabold';
  src: url("../../fonts/pobeda-bold-webfont.woff2") format("woff2"), url("../../fonts/pobeda-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'pobeda';
  src: url("../../fonts/pobeda-regular-webfont.woff2") format("woff2"), url("../../fonts/pobeda-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'cervo', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: white; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 650px; }

.section {
  height: 100%;
  width: 100%;
  background: white;
  min-height: 650px;
  overflow: hidden;
  position: relative;
  top: 0%;
  left: 0;
  right: 0; }

.section-container {
  height: 20%; }

#map {
  width: 100%;
  height: 90%; }

.header {
  height: 15%;
  width: 100%; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%; }
  .header__main {
    border: 1px solid black;
    height: 70%;
    background: #333333;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__main__logo {
      width: 10%; }
    .header__main__menu {
      width: 30%; }
      .header__main__menu__list {
        text-transform: uppercase;
        font-size: 24px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .header__main__menu__list__item {
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          .header__main__menu__list__item:hover {
            -webkit-transform: translateY(10%);
            -ms-transform: translateY(10%);
            transform: translateY(10%); }
        .header__main__menu__list__item__link {
          color: white;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          border-radius: 0px;
          padding: 2px;
          transition: .3s;
          padding-left: 6px;
          padding-right: 6px; }
          .header__main__menu__list__item__link:hover {
            color: #333333;
            background-color: white; }
          .header__main__menu__list__item__link--active {
            color: #333333;
            background: white;
            padding-left: 6px;
            padding-right: 6px; }
    .header__main__contacts {
      min-width: 10%;
      font-family: pobedabold;
      font-size: 18px;
      height: 70%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      letter-spacing: 2px; }
      .header__main__contacts__phone__link {
        float: right;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .header__main__contacts__phone__link:hover {
          color: #fea500; }
      .header__main__contacts__shedule {
        position: relative; }
        .header__main__contacts__shedule:hover .header__main__contacts__shedule__dropdown {
          right: -5%;
          opacity: 1; }
        .header__main__contacts__shedule__title {
          font-style: normal;
          color: #fea500;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          cursor: pointer; }
          .header__main__contacts__shedule__title:hover {
            color: white; }
        .header__main__contacts__shedule__dropdown {
          padding: 10%;
          font-family: cervo;
          font-size: 16px;
          border: 1px solid black;
          position: absolute;
          top: 105%;
          right: -1000%;
          background: white;
          color: black;
          width: 115%;
          height: 750%;
          opacity: 0;
          font-style: normal;
          -webkit-transition: right .3s, opacity 1.5s;
          -o-transition: right .3s, opacity 1.5s;
          transition: right .3s, opacity 1.5s;
          border-radius: 2px;
          -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.7);
          -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.7); }
          .header__main__contacts__shedule__dropdown__content {
            min-height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; }
            .header__main__contacts__shedule__dropdown__content__location__title {
              font-weight: bold;
              text-transform: uppercase; }
            .header__main__contacts__shedule__dropdown__content__time__title {
              font-weight: bold;
              text-transform: uppercase; }
            .header__main__contacts__shedule__dropdown__content__time__content {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -ms-flex-pack: distribute;
              justify-content: space-around; }
  .header__sub {
    height: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear, right top, left top, from(#ff6600), color-stop(60%, #fea500));
    background: -webkit-linear-gradient(right, #ff6600, #fea500 60%);
    background: -o-linear-gradient(right, #ff6600, #fea500 60%);
    background: linear-gradient(270deg, #ff6600, #fea500 60%); }
    .header__sub__list {
      text-transform: uppercase;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      min-width: 40%;
      font-family: pobedabold; }
      .header__sub__list::before {
        height: 10%;
        content: '';
        background-image: url("../../img/icons/triangle.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px; }
      .header__sub__list__item {
        font-size: 18px;
        letter-spacing: 2px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        border-bottom: 1px solid transparent; }
      .header__sub__list__item:hover {
        border-bottom: 1px solid white; }

.hero {
  background-image: url("../../img/bg/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 9px 60px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 60px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 60px -1px rgba(0, 0, 0, 0.75);
  z-index: 2; }
  .hero__container {
    width: 100%;
    height: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .hero__content {
    height: 100%;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .hero__content__txt {
      height: 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .hero__content__txt__title {
        text-transform: uppercase;
        color: #333333;
        font-size: 82px;
        height: 50%; }
        .hero__content__txt__title .marker {
          background: white;
          padding-left: 2%;
          padding-right: 2%; }
      .hero__content__txt__adv {
        height: 40%;
        width: 72%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .hero__content__txt__adv__list {
          font-size: 28px;
          font-family: pobedabold;
          letter-spacing: 2px;
          color: white;
          height: 100%;
          width: 58%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          text-transform: uppercase;
          border: 5px solid white;
          padding: 2%; }
      .hero__content__txt__usefull-links__list {
        min-width: 33%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        background: white;
        padding: 2%; }
        .hero__content__txt__usefull-links__list__link {
          color: #333333;
          font-family: cervo;
          opacity: .9;
          text-transform: uppercase;
          font-size: 22px;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          .hero__content__txt__usefull-links__list__link:hover {
            -webkit-transform: translateX(5px);
            -ms-transform: translateX(5px);
            transform: translateX(5px);
            text-decoration: none;
            color: #ff6600; }
    .hero__content__buttons {
      height: 15%;
      width: 100%; }
      .hero__content__buttons__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        display: flex; }
        .hero__content__buttons__list__link {
          width: 30%;
          height: 100%;
          background: white;
          color: #333333;
          margin-right: 1%;
          margin-top: 1%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          font-size: 28px;
          text-transform: uppercase;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          -webkit-box-shadow: 0px 10px 42px 3px rgba(0, 0, 0, 0.77);
          -moz-box-shadow: 0px 10px 42px 3px rgba(0, 0, 0, 0.77);
          box-shadow: 0px 10px 42px 3px rgba(0, 0, 0, 0.77); }
          .hero__content__buttons__list__link:hover {
            -webkit-transform: translateY(10px);
            -ms-transform: translateY(10px);
            transform: translateY(10px);
            -webkit-box-shadow: 0px 0px 0px 0px transparent;
            -moz-box-shadow: 0px 0px 0px 0px transparent;
            box-shadow: 0px 0px 0px 0px transparent;
            color: white; }
          .hero__content__buttons__list__link--one {
            width: 20%; }
            .hero__content__buttons__list__link--one:hover {
              background-image: -webkit-linear-gradient(260deg, #67d4fb, #0060ff);
              background-image: -o-linear-gradient(260deg, #67d4fb, #0060ff);
              background-image: linear-gradient(190deg, #67d4fb, #0060ff);
              color: white; }
          .hero__content__buttons__list__link--two {
            width: 20%; }
            .hero__content__buttons__list__link--two:hover {
              background-image: -webkit-linear-gradient(260deg, #67d4fb, #0060ff);
              background-image: -o-linear-gradient(260deg, #67d4fb, #0060ff);
              background-image: linear-gradient(190deg, #67d4fb, #0060ff);
              color: white; }
          .hero__content__buttons__list__link--three:hover {
            background-image: -webkit-linear-gradient(260deg, #ff6600, #fea500);
            background-image: -o-linear-gradient(260deg, #ff6600, #fea500);
            background-image: linear-gradient(190deg, #ff6600, #fea500);
            color: white; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-gradient(linear, right top, left top, from(#ff6600), to(#fea500));
  background: -webkit-linear-gradient(right, #ff6600, #fea500);
  background: -o-linear-gradient(right, #ff6600, #fea500);
  background: linear-gradient(270deg, #ff6600, #fea500);
  -webkit-box-shadow: 0px 9px 60px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 60px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 60px -1px rgba(0, 0, 0, 0.75);
  z-index: 5; }
  .slider__container {
    width: 95%;
    height: 92%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    position: relative; }
  .slider__slides {
    border-bottom: 5px solid #ff6600;
    border-left: 5px solid #ff6600;
    background: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    height: 100%;
    width: 80%;
    -webkit-box-shadow: 85px 82px 149px -12px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 85px 82px 149px -12px rgba(0, 0, 0, 0.45);
    box-shadow: 85px 82px 149px -12px rgba(0, 0, 0, 0.45);
    -webkit-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s; }
    .slider__slides:hover {
      -webkit-box-shadow: 20px 17px 40px -10px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 20px 17px 40px -10px rgba(0, 0, 0, 0.45);
      box-shadow: 20px 17px 40px -10px rgba(0, 0, 0, 0.45);
      -webkit-transform: translate(15px, 15px);
      -ms-transform: translate(15px, 15px);
      transform: translate(15px, 15px); }
    .slider__slides__limiter {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      position: relative; }
  .slider__ctrl {
    position: absolute;
    left: 5%;
    top: 7%;
    z-index: 10;
    -webkit-box-shadow: 30px 24px 92px -12px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 30px 24px 92px -12px rgba(0, 0, 0, 0.39);
    box-shadow: 30px 24px 92px -12px rgba(0, 0, 0, 0.39);
    background: #333333;
    width: 35%;
    height: 60%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom: 5px solid #fea500;
    border-right: 5px solid #fea500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .slider__ctrl:hover {
      -webkit-box-shadow: 15px 9px 40px -6px rgba(0, 0, 0, 0.39);
      -moz-box-shadow: 15px 9px 40px -6px rgba(0, 0, 0, 0.39);
      box-shadow: 15px 9px 40px -6px rgba(0, 0, 0, 0.39);
      -webkit-transform: translate(15px, 15px);
      -ms-transform: translate(15px, 15px);
      transform: translate(15px, 15px); }
    .slider__ctrl__list {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .slider__ctrl__list__item {
        height: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .slider__ctrl__list__item__title {
          text-transform: uppercase;
          color: white;
          font-size: 50px;
          line-height: .6;
          font-family: pobedabold; }
        .slider__ctrl__list__item__desc {
          font-size: 22px;
          color: white; }
        .slider__ctrl__list__item__btn {
          background: white;
          width: 35%;
          height: 25%;
          color: #333333;
          text-transform: uppercase;
          font-size: 28px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-shadow: 10px 7px 42px 3px rgba(0, 0, 0, 0.77);
          -moz-box-shadow: 10px 7px 42px 3px rgba(0, 0, 0, 0.77);
          box-shadow: 10px 7px 42px 3px rgba(0, 0, 0, 0.77);
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          .slider__ctrl__list__item__btn:hover {
            -webkit-transform: translate(7px, 7px);
            -ms-transform: translate(7px, 7px);
            transform: translate(7px, 7px);
            -webkit-box-shadow: 0px 0px 0px 0px transparent;
            -moz-box-shadow: 0px 0px 0px 0px transparent;
            box-shadow: 0px 0px 0px 0px transparent;
            color: white;
            background-image: -webkit-linear-gradient(250deg, #ff6600, #fea500, #67d4fb, #0060ff);
            background-image: -o-linear-gradient(250deg, #ff6600, #fea500, #67d4fb, #0060ff);
            background-image: linear-gradient(200deg, #ff6600, #fea500, #67d4fb, #0060ff);
            background-size: 800% 800%;
            -webkit-animation: AnimationName 5s ease infinite;
            -moz-animation: AnimationName 5s ease infinite;
            -o-animation: AnimationName 5s ease infinite;
            animation: AnimationName 5s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 100% 50%; }
  50% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 100% 50%; }
  50% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }

@-o-keyframes AnimationName {
  0% {
    background-position: 100% 50%; }
  50% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 100% 50%; }
  50% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }

.slider__slides__adv {
  background: white; }
  .slider__slides__adv__title {
    color: #ff6600;
    font-size: 80px;
    position: absolute;
    top: 0%;
    left: 8%;
    text-transform: uppercase;
    opacity: .4;
    letter-spacing: 70px; }
  .slider__slides__adv__list {
    height: 80%;
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 7%;
    margin-right: 8%; }
    .slider__slides__adv__list__item {
      height: 20%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .slider__slides__adv__list__item__icon-block {
        height: 100%;
        width: 18%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .slider__slides__adv__list__item__txt {
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .slider__slides__adv__list__item__txt__title {
          text-transform: uppercase;
          text-decoration: underline;
          font-family: pobedabold;
          font-size: 28px;
          height: 20%; }
        .slider__slides__adv__list__item__txt__desc {
          height: 72%;
          font-family: cervo;
          font-size: 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          line-height: 1.3; }
          .slider__slides__adv__list__item__txt__desc__more {
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
            .slider__slides__adv__list__item__txt__desc__more:hover {
              -webkit-transform: translateX(10px);
              -ms-transform: translateX(10px);
              transform: translateX(10px); }
            .slider__slides__adv__list__item__txt__desc__more__link {
              color: #333333;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
              .slider__slides__adv__list__item__txt__desc__more__link:hover {
                color: #ff6600; }

.slider__slides__equip {
  background: white; }
  .slider__slides__equip__title {
    color: #67d4fb;
    font-size: 80px;
    position: absolute;
    top: 0%;
    left: 5%;
    text-transform: uppercase;
    opacity: .4;
    letter-spacing: 70px; }
  .slider__slides__equip__list {
    height: 80%;
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 7%;
    margin-right: 8%; }
    .slider__slides__equip__list__item {
      height: 20%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .slider__slides__equip__list__item__icon-block {
        height: 100%;
        width: 18%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .slider__slides__equip__list__item__txt {
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .slider__slides__equip__list__item__txt__title {
          text-transform: uppercase;
          text-decoration: underline;
          font-family: pobedabold;
          font-size: 28px;
          height: 20%; }
        .slider__slides__equip__list__item__txt__desc {
          height: 72%;
          font-family: cervo;
          font-size: 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          line-height: 1.3; }
          .slider__slides__equip__list__item__txt__desc__more__link {
            color: #333333; }

.paginator {
  position: fixed;
  top: 35%;
  right: 2.2%;
  height: 30%; }
  .paginator__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .paginator__list__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .paginator__list__item:hover .paginator__list__item__desc {
        opacity: 1; }
      .paginator__list__item:hover .paginator__list__item__link__block {
        -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
        transform: translateY(4px);
        background: #fea500; }
      .paginator__list__item__desc {
        color: #333333;
        background: white;
        min-width: 100px;
        margin-right: 10%;
        text-align: center;
        text-transform: uppercase;
        opacity: 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .paginator__list__item__link__block {
        background: white;
        width: 20px;
        height: 20px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }

.link {
  width: 100%;
  height: 100%; }

.gallery {
  height: 10%;
  background: #333333; }
  .gallery__hover {
    border: 1px solid red; }
  .gallery-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    color: #fea500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #fea500; }
  .gallery__container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .gallery__zone {
    width: 80%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: wrap row;
    flex-flow: wrap row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .gallery__zone__item {
      width: 30%;
      height: 42%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 42px;
      text-transform: uppercase;
      position: relative;
      -webkit-box-shadow: 30px 24px 92px -12px rgba(0, 0, 0, 0.39);
      -moz-box-shadow: 30px 24px 92px -12px rgba(0, 0, 0, 0.39);
      box-shadow: 30px 24px 92px -12px rgba(0, 0, 0, 0.39);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      overflow: hidden; }
      .gallery__zone__item:hover .gallery-overlay {
        top: -700px; }
      .gallery__zone__item:hover {
        border-top: 5px solid #fea500;
        border-bottom: 5px solid transparent; }
      .gallery__zone__item__photo {
        visibility: hidden; }
      .gallery__zone__item:hover {
        -webkit-box-shadow: 15px 9px 40px -6px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: 15px 9px 40px -6px rgba(0, 0, 0, 0.39);
        box-shadow: 15px 9px 40px -6px rgba(0, 0, 0, 0.39);
        -webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
        transform: translateY(15px);
        cursor: pointer; }
      .gallery__zone__item--1 {
        background-image: url("../../img/photos/2016_03_16_172524.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-filter: grayscale(100%); }
      .gallery__zone__item--2 {
        background-image: url("../../img/photos/eqfcpx4x_aa.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .gallery__zone__item--3 {
        background-image: url("../../img/photos/image_11c94e000bd6546b5e25a43a4db08ab8f5b5a6f65d2b82c56bd54cb7d59f4bc2_v.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .gallery__zone__item--4 {
        background-image: url("../../img/photos/21(1).jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .gallery__zone__item--5 {
        background-image: url("../../img/photos/IMG_3916(1).jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .gallery__zone__item--6 {
        background-image: url("../../img/photos/image_fcda7466a73f5cef35831ddc9752723dd7dbe4b8c61cadc7cc1eaab4ed932bf0_v.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }

.section-name {
  color: white;
  font-size: 200px;
  position: absolute;
  top: 38%;
  left: 8%;
  text-transform: uppercase;
  opacity: .8;
  letter-spacing: 150px; }
